<section>
    <div class="container">
        <div class="row">
            <a class="btn btn_dashboard col m-2" href="/admin/service">Configurer les services</a>
          </div>
    </div>
</section>