<section>
    <div class="container">
        <div class="row">
            <a class="btn btn_dashboard col m-2" href="/admin/service">Configurer les services</a>
            <a class="btn btn_dashboard col m-2" href="/admin/habitat">Éditer les habitats et les animaux</a>
            <a class="btn btn_dashboard col m-2" href="/register">Créer un compte "Vétérinaire" ou "Employé.e"</a>
          </div>
    </div>
</section>