<section>
    <div class="bg_dark text-white">
        <div class="container text-center">
            <div>
                <h1 class="m-4 p-4">Compteur des Animaux</h1>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Léo</p>
                </div>
                <div class="compteur col mt-2" role="progressbar" aria-label="Example with label">
                    <div class="progress-bar color-primary bg-white" style="width: 97%">2988 clics</div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Léa</p>
                </div>
                <div class="compteur col mt-2" role="progressbar" aria-label="Example with label">
                    <div class="progress-bar color-primary bg-white" style="width: 90%">2873 clics</div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Tigro</p>
                </div>
                <div class="compteur col mt-2" role="progressbar" aria-label="Example with label">
                    <div class="progress-bar color-primary bg-white" style="width: 80%">2322 clics</div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Tigra</p>
                </div>
                <div class="compteur col mt-2" role="progressbar" aria-label="Example with label">
                    <div class="progress-bar color-primary bg-white" style="width: 76%">2298 clics</div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Phanto</p>
                </div>
                <div class="compteur col mt-2" role="progressbar" aria-label="Example with label">
                    <div class="progress-bar color-primary bg-white" style="width: 63%">2121 clics</div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Fanta</p>
                </div>
                <div class="compteur col mt-2" role="progressbar" aria-label="Example with label">
                    <div class="progress-bar color-primary bg-white" style="width: 58%">2009 clics</div>
                </div>
            </div>
            <div>
                <p class="pb-4"><a class="color-secondary" href="#">Afficher la suite...</a></p>
            </div>
        </div>
    </div>
</section>