<section>
    <div class="bg_dark text-white">
        <div class="container">
            <div class="text-center">
                <h1 class="m-4 p-4">Nouveau Rapport Vétérinaire</h1>
            </div>

            <div class="text-center">
                <a href="rapport-vet/new" class="btn bg_primary text-white mb-4">Rédiger un nouveau rapport vétérinaire</a>
            </div>
        </div>
    </div>
</section>