<section>
    <div class="bg_dark text-white">
        <div class="container">
            <div class="text-center">
                <h1 class="m-4 p-4">Nourriture des animaux</h1>
            </div>

            <div class="text-center">
                <a href="nourriture/new" class="btn bg_primary text-white mb-4">Entrer la nourriture d'un animal</a>
            </div>
        </div>
    </div>
</section>